.App {
  text-align: center;
  /* border: 3px solid #3c6e03; */
  border-radius: 20px;
  background-color: rgb(250, 235, 215);
  padding: 20px;
  margin: auto;
  display: inline-block;
  color: #3c6e03;
  box-shadow: 5px 5px 7px rgb(255, 144, 0), 
            -5px -5px 7px rgb(255, 255, 255); 
}

.counterText {
    font-size: 60px;
    text-shadow: 5px 5px 7px rgb(255, 144, 0), -5px -5px 7px rgb(255, 255, 255);
    color: antiquewhite;
    margin: 10px auto;
}

.button {
  min-width: 100px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: rgb(250, 235, 215);
  box-shadow: 2px 2px 3px rgb(255, 144, 0),
              -2px -2px 3px rgb(255, 255, 255);
}

.button:hover {
    box-shadow: inset 2px 2px 3px rgb(255, 144, 0),
              inset -2px -2px 3px rgb(255, 255, 255);
}

.button:focus {
  outline: none;
}

.clickButton {
  color: green;  
}

.resetButton {
  color: red;
}

.disabled {
    color: grey;
}

.disabled:hover {
    box-shadow: 2px 2px 3px rgb(255, 144, 0),
              -2px -2px 3px rgb(255, 255, 255);
}